.header{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height:800px;
    z-index: 0;
    &::before{
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background:rgba(0,0,0,0.5);
        z-index: -1;
    }
    .nav-header{
        top:0;
        left: 0;
        right: 0;
        background-color: white;
        padding-left: 30px;
        height: 70px;
        line-height: 70px;
        z-index: 3;
        h1{
            width: 74px;
            float: left;
            display: block;
            background-repeat: no-repeat;
            background-position:center;
            text-indent: 101%;
            overflow:hidden;
            white-space:nowrap;
        }
        div{
            float: right;
        }
        .header-btn{
            background-color: #ed3974;
            a{
                @include Acolor(#ed3974,white);
            }
        }
        .poeple{
            padding: 0 25px;
            border-left: 1px solid #ebebeb;
        }
        .search{
            input{
                padding: 0;
                border: none;
                font-style: italic;
            }
            i{
                padding: 6px 12px;
            }
        }
        .menu{
            border-right: 1px solid #ebebeb;
            >ul{
                >li{
                    float: left;
                    padding: 0 12px;
                    font-size: 13px;
                    letter-spacing: 1px;
                    a{
                        color: #000;
                        &:hover{
                            color: #ed3974;
                        }
                    }
                }
                .Dropdown{
                    &:hover{
                        ul{
                            opacity: 1;
                            max-height: 300px;
                        }
                    }
                    ul{
                        line-height: 20px;
                        padding: 10px;
                        position: absolute;
                        opacity: 0;
                        max-height: 0px;
                        transition:  all 0.5s;
                        border: 1px solid white;
                        background: white;
                        li{
                            float: none;
                            height: 25px;
                            color: black;                    
                        }
                    }
                }
                .megamenu-item{
                    &:hover{
                        .megamenu{
                            ul{
                                opacity: 1;
                                max-height: 300px;
                            }
                        }
                    }
                    .megamenu{
                        line-height: 20px;
                        position: absolute;
                        width: 100%;
                        top: 70px;
                        left: 0;
                        right: 0;
                        background: white;
                        ul{
                            opacity: 0;
                            max-height: 0px;
                            border-right:1px solid rgba(0,0,0,0.2);
                            @include Float(24.66666%,0%);
                            li{
                                height: 25px;
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
        }
        .showmenu{
            display: none;
        }
    }
    .Overview{
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 300px;
        text-align: center;
        div{
            margin-bottom: 20px;
            a{
                @include Acolor(0,#ed3974);
                font-size: 14px;
                letter-spacing: 2px;
                &:hover{
                    color: white;
                }
            }
        }
        h2{
            margin-bottom: 20px;
            a{
                @include Acolor(0,white);
                font-size: 45px;
                &:hover{
                    color: #ed3974;
                }
            }
            p{
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 20px;
                color:white;
            }
        }
    }
}
@include pad-m{
    .header{
        .nav-header{
            .menu{
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                background: white;
                padding: 20px 40px;
                transition: transform .5s;
                transform: translateX(-150px);
                ul{
                    li{
                    float: none;
                    padding: 0px;
                    }
                }
                .Dropdown{
                    ul{
                        li{
                            position: relative;
                        }
                    }
                }
            }
            .open{
                transform: translateX(0px);
            }
            .showmenu{
                display: block;
                color: black;
                float: right;
                margin-right: 20px;
            }
        }
    }
}
@include iphone7{
    .header{
        .nav-header{
            .header-btn,.search{
                display: none;
            }
        }
    }
}
