.footer{
    background-color: #111111;
    font-size: 14px;
    .component{
        max-width: 1200px;
        margin: 0 auto; 
        padding: 40px 0;
        >div{
            @include Float(25%,0%);
            padding: 0 15px;
            color: white;
            height: 325px;
            h3{
                margin-bottom: 30px;
                padding-left: 10px;
                border-left: 3px solid #ed3974;
                font-size: 16px;
            }
            ul{
                li{
                    @include Float(48%,1%);
                    margin-bottom: 15px;
                    a{
                        &:hover{
                            color: #ed3974;
                        }
                    }
                }
                i{
                   margin-right: 5px;
                   opacity: 0.5;
                }
            }
            .blog{
                @include flex;
                div{
                    flex: 1;
                    img{
                        color: white;
                    }
                }
                .blog-content{
                    flex: 3;
                    padding-left: 15px;
                    a{
                        letter-spacing: 1px;
                        &:hover{
                            color:#ed3974;
                            opacity: 1;
                        }
                    }
                    p{
                        margin-top: 8px;
                        a{
                            margin-right: 20px;
                            opacity: 0.5;
                        }
                    }
                }
            }
            hr{
                opacity: 0.2;
                margin: 15px 0;
            }

        }
        .logo{
            img{
                margin-bottom: 25px;
            }
            p{
                margin-bottom: 30px;
                line-height: 28px;
                opacity: 0.5
            }
            div{
                padding: 0;
                width: 100%;
                a{
                    margin-right: 5px;
                    width: 40px;
                    height: 40px;
                    float: left;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 40px;
                }
                .blue{
                    background: #4b6cd0;
                }
                .red{
                    background: #f03b3b;
                }
                .ray{
                    background: #bb8950;
                }
                .whiteBlue{
                    background: #49a7f3;
                }
                .greedBlue{
                    background: #30bad7;
                }
            }
        }
        .channe{
            div{
                display: inline-block;
                margin: 5px;
                padding: 10px;
                font-size: 12px;
                background: rgba(255,255,255,0.1);
                border-radius: 5px;
                &:hover{
                    background: #ed3974;
                }
            }
        }
    }
    .AtLast{
        max-width: 1200px;
        margin: 0 auto;
        font-size: 14px;
        p{
            color: white;
            display: inline-block;
            padding: 10px 0;
        }
        ul{
            padding: 10px 0;
            float: right;
            li{
                float: left;
                padding: 0 15px;
                opacity: 0.5;
                &:hover{
                    color: #ed3974;
                    opacity: 1;
                }
            }
        }
    }
}
@include pad-l{
    .footer{
        .component{
            max-width: 1024px;
            >div{
                @include Float(25%,0%);
                padding: 0 5px;
            }
        }
        .AtLast{
            max-width: 1024px;
            text-align: center;
            p{
               display: block;
            }
            ul{
               float: none;
               display:inline-block;
            }
        }
    }
}
@include pad-m{
    .footer{
        .component{
            max-width: 800px;
            >div{
                @include Float(46%,1%);
                padding: 0 5px;
            }
        }
    }
}
@include iphone7{
    .footer{
        .component{
            >div{
                @include Float(98%,1%);
            }
        }
    }
}
