@import "./_ipad";

.wrap{
    margin: 0 auto;
    .ajax-header{
        text-align: center;
        background-position: center;
        background-size: cover;
        padding: 200px 0;
        position: relative;
        h1{
            @include pad{
                font-size: 35px;
            }
            @include iphone7{
                font-size: 27px;
            }
            @include mobile{
                font-size: 22px;
            }
            position: absolute;
            right: 15%;
            left:15%;
            top:15%;
            color: white;
            font-size: 45px;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 15px;
            padding: 20px 0;
        }
        select{
            border: 2px solid white;
            width: 50%;
            height: 40px;
            font-size: 15px;
            background: rgba(255,255,255,0.7);
            border-radius:5px;
        }
        .learn{
            position: absolute;
            right: 0;
            bottom: 0;
            font-size: 20px;
            color: white;
        }
    }
    .ajax-conten{
        .MenuList{
            @include pad-m{
                float: none;
            }
            min-width: 20%;
            float: left;
            text-align: center;
            padding: 20px;
            h2{
                font-size: 30px;
                padding: 20px;
            }
            .btnAdmin{
                div{
                    @include pad-m{
                        @include Float(20%,10);
                    }
                    @include iphone7{
                        @include Float(100%,10);
                    }
                    margin-bottom: 10px;
                    input{
                        width: 100%;
                        text-align: center;
                        line-height: 50px;
                        border: 0;
                        border-radius: 15px;
                        color:white;
                        box-shadow: 0 2px 0 #9cb8d8, 0 5px 20px rgba(0,0,0,0.3);
                    }
                }
            }
            
        }
        .article{
            @include pad-m{
                width: 100%;
            }
            width: 80%;
            float: left;
            .container{
                .row{
                    .col-md-6{
                        .row{
                            .col-sm-8{
                                strong{
                                    height: 50px;
                                    overflow: hidden;
                                }
                                .OverScroll{
                                    overflow: hidden;
                                    height: 150px;
                                    // scrollbar 樣式修改
                                    &::-webkit-scrollbar{
                                        width: 10px;
                                        background-color: #F5F5F5;
                                    }
                                    &::-webkit-scrollbar-thumb{
                                        border-radius: 10px;
                                        background-image: linear-gradient(#e66465, #9198e5);
                                    }                                    
                                    &:hover{
                                        overflow-y: scroll;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ajax-footer{
        margin: 0 auto;
        padding: 20px;
        background: blue;
        text-align: center;
        line-height: 40px;
        padding-top: 10px;
        color: white;
    }
}